{% extends 'base.html' %}
{% block title %} Home  {% endblock %}
{% block content %}
<section id="hero-1" class="bg-scroll hero-section division">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-7 col-lg-6">
        <div class="hero-1-txt white-color wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
          <h2 class="h2-md">Hello, Django Website</h2>
        </div>
      </div>
      <div class="col-md-5 col-lg-6">	
        <div class="hero-1-img wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">				
          <iframe width="560" height="315" src="https://www.youtube.com/embed/O6yWLr0z9Qg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
