{% extends 'partials/auth.html' %}
  
  {% block title %} Login  {% endblock %}
  
  {% block content %}
  <section id="login-1" class="login-section division">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <div class="register-form">
              <form name="signinform" class="row sign-in-form" action="/login/" method="post">
                {% csrf_token %}
                <div class="col-md-12">
                  <div class="register-form-title">
                    <h3 class="h3-xs">Login into Django</h3>
                    <p class="p-lg">
                      Don't have an account? <a href="/register" class="skyblue-color">Register</a>
                    </p>
                  </div>
                </div>
                {% if login_errors %} 
                <div class="alert alert-danger">
                  <p>{{ login_errors }}</p>
                </div>
                {% endif %}
                {% if errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in errors %}
                                <li>The field {{ error }} is required!</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="col-md-12">
                  <input class="form-control email" type="text" name="username" placeholder="username"> 
                </div>
                <div class="col-md-12">
                  <div class="wrap-input">
                    <span class="btn-show-pass ico-20"><span class="flaticon-visible eye-pass"></span></span>
                    <input class="form-control password" type="password" name="password" placeholder="Password"> 
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-md btn-skyblue tra-black-hover submit">Log In</button>
                </div>
                <div class="col-md-12">
                  <div class="d-flex justify-content-around align-items-center form-data">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" checked="">
                        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                     </div>
                     <p class="forgot-password"><a href="/reset-password">Forgot your password?</a></p>

                  </div>
                </div>
                <div class="col-md-12">	
                  <div class="login-separator">
                    <span class="login-separator-txt">OR</span>
                  </div>
                </div>
                <div class="col-md-12">
                  <a href="#" class="btn btn-google ico-left mb-10">
                    {% load static %}
                    <img src={% static 'images/google.png' %} alt="google-icon"> Sign in with Google
                  </a>
                </div>
                <div class="col-md-12">
                  <a href="#" class="btn btn-facebook ico-left">
                    <img src={% static 'images/facebook.png' %} alt="facebook-icon"> Sign in with Facebook
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>         
  </section>
  {% endblock %}