{% extends 'partials/auth.html' %}
{% block title %} Register {% endblock %}
{% block content %}
<section id="signup-1" class="signup-section division">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">	
        <div class="register-form">
          <form name="signupform" class="row sign-up-form">
            <div class="col-md-12">
              <div class="register-form-title">
                <h3 class="h3-xs">Create Account</h3>
                <p class="p-lg">Already have an account? <a href="/login" class="skyblue-color">Log In</a></p>
              </div>
            </div>
            <div class="col-md-12">
              <input class="form-control name" type="text" name="name" placeholder="Your name"> 
            </div>
            <div class="col-md-12">
              <input class="form-control email" type="email" name="email" placeholder="Your email"> 
            </div>	
            <div class="col-md-12">
              <div class="wrap-input">
                <span class="btn-show-pass ico-20"><span class="flaticon-visible eye-pass"></span></span>
                <input class="form-control password" type="password" name="password" placeholder="Create a Password"> 
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-md btn-skyblue tra-black-hover submit">Create Account</button>
            </div> 
            <div class="col-md-12">	
              <div class="login-separator">
                <span class="login-separator-txt">OR</span>
              </div>
            </div>	
            <div class="col-md-12">
              <a href="#" class="btn btn-google ico-left mb-10">
                {% load static %}
                <img src={% static 'images/google.png' %} alt="google-icon"> Sign up with Google
              </a>
            </div>  	
            <div class="col-md-12">
              <a href="#" class="btn btn-facebook ico-left">
                <img src={% static 'images/facebook.png' %} alt="google-icon"> Sign up with Facebook
              </a>
            </div>  
                                                                                      
          </form>	
        </div>
      </div>
     </div>	
   </div>	   
</section>
{% endblock %}